repos:
  - repo: local
    hooks:
      - id: create-api-docs
        name: create-api-docs
        entry: make docs
        language: system
        always_run: true

      - id: add-api-docs
        name: add-api-docs
        entry: bash -c 'git add docs/*'
        language: system
        always_run: true
        require_serial: true

      - id: go-unit-tests
        name: go-unit-tests
        entry: make unit-tests
        language: system
        always_run: true

      - id: go-integration-tests
        name: go-integration-tests
        entry: make integration-tests
        language: system
        require_serial: true
        always_run: true

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
        exclude: docs/.*
      - id: end-of-file-fixer
        exclude: docs/.*
      - id: check-yaml
